target
.classpath
.settings
.project
ClusterControllerService
rttest
mdtest
ittest
asterix_logs
build
bin
asterix-app/rttest/
asterix-app/mdtest/
asterix-app/opttest/
asterix-installer/ittest/
build
asterix_logs
bin/
*-coredump
*.pyc
*.iml
.idea/
asterix.ipr
asterix.iws
